nav {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #21222a;
}

.nav--icon {
  width: 40px;
}

.nav--logo_text {
  margin-right: auto;
  font-size: 20px;
}

.nav--title {
  font-size: 20px;
}

main {
  padding: 20px;
  background-color: #282d35;
}