nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #21222a;
}

.nav--left {
  display: flex;
  align-items: center;
  color: #61dafb;
}

.nav--right {
  color: #deebf8;
}

.nav--icon {
  width: 40px;
}

.nav--logo_text {
  font-size: 20px;
}

.nav--title {
  font-size: 20px;
}

main {
  padding: 20px;
  background-color: #282d35;
}